body{
  background-image: url("./components/placeholder.jpg") ;
  text-align: center;
  margin: 0 15px;
  top: 0;
    left: 0;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
}
